
@media screen and (max-width:1750px){
	.timeline .grid {
		grid-gap: 50px;
	}
	/* .secret-sauce .container {
		width: 95%;
	} */
}
@media screen and (max-width:1600px){
	.timeline-card {
		width: 450px;
		height: 450px;
	}
	.banner-content h1 {
		font-size: 84px;
	}
	.testimonial-card .card_img {
		width: 250px;
		height: 250px;
	}
	.partner-logo {
		max-width: 180px;
	}
	.how-card h4 {
		font-size: 52px;
	}
	.how-card p {
		font-size: 20px;
	}
	.section-title {
		font-size: 72px;
	}
}
@media screen and (max-width:1400px){
	.calendar-sec-content {
		max-width: 90%;
	}
	.section-title {
		font-size: 58px;
	}
	.sub-title {
		font-size: 26px;
	}
	.comparison .sub-title {
		font-size: 36px;
	}
	.magic-behind-para p {
		font-size: 48px;
	}
	.plans-box-content h3 {
		font-size: 40px;
	}
	.timeline .grid {
		grid-gap: 25px;
	}
	.timeline-card-content h4 {
		font-size: 30px;
		margin: 0 0 20px;
	}
	.timeline-card-content p {
		font-size: 18px;
	}
	.client-story-card h3 {
		font-size: 32px;
	}
	.client-story-card a {
		font-size: 16px;
	}
	.client-story-card button {
		font-size: 16px;
	}
	.plan-card h4 {
		font-size: 32px;
	}
	.check-mark li {
		font-size: 20px;
	}
	.plan-card-footer p {
		font-size: 42px;
	}
	.plan-card-footer p sub {
		font-size: 20px;
	}
	.primary-btn {
		font-size: 16px;
		padding: 14px 34px;
	}
	.social-float-logos img {
		max-width: 80px;
	}
	.secret-sauce-cont p {
		font-size: 24px;
	}
	.partner-highlight p {
		font-size: 22px;
	}
	.comparison-list li {
		font-size: 18px;
	}
	.comparison-vs-img .test-vs {
		padding: 105px 0;
	}
	.inverting-sec {
		margin-top: 60px;
	}
	.inverting-sec h2 {
		font-size: 42px;
	}
	.inverting-logo {
		width: 180px;
		margin: 0 auto 30px;
	}
	.inverting-card h4 {
		font-size: 26px;
	}
	.inverting-card p {
		font-size: 20px;
	}
	.training_content h4 {
		font-size: 42px;
	}
	.training_content p {
		font-size: 22px;
	}
}
@media screen and (max-width:1280px){
	.timeline-card {
		width: 400px;
	}
	.client-story-card {
		padding: 34px;
	}
}
@media screen and (max-width:1200px){
	.site-banner-warp {
		height: 800px;
	}
	.banner-content h1 {
		font-size: 62px;
	}
	.banner-content > p {
		font-size: 24px;
	}
	.item.timeline-child-right {
		transform: translateX(-110%);
		position: relative;
		z-index: 1;
	}
	.item.timeline-child-left {
		transform: translateX(110%);
		position: relative;
		z-index: 2;
	}
	.timeline-card {
		height: 360px;
	}
	.training-wrap .grid {
		grid-template-columns: 1.5fr 1fr;
	}
}
@media screen and (max-width:768px){
	.site-nav {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 300px;
	    background: #000;
	    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
	    transform: translateX(-100%);
	}

	.site-nav ul {
	    display: block;
	    padding: 30px 60px 0;
	}

	.menu-toggle{
		display: block;
	}

	.closed-menu {
	    font-size: 40px;
	    color: #fff;
	    position: absolute;
	    top: -5px;
	    right: 15px;
	    display: inline-block;
	}

	.toggle .site-nav {
    	transform: translateX(0);
	}
}

