
@media screen and (max-width:1750px){
	.timeline .grid {
		grid-gap: 50px;
	}
	/* .secret-sauce .container {
		width: 95%;
	} */
}
@media screen and (max-width:1600px){
	.timeline-card {
		width: 450px;
		height: 450px;
	}
	.banner-content h1 {
		font-size: 84px;
	}
	.testimonial-card .card_img {
		width: 250px;
		height: 250px;
	}
	.partner-logo {
		max-width: 180px;
	}
	.how-card h4 {
		font-size: 52px;
	}
	.how-card p {
		font-size: 20px;
	}
}
@media screen and (max-width:1400px){
	.calendar-sec-content {
		max-width: 90%;
	}
	.section-title {
		font-size: 58px;
	}
	.sub-title {
		font-size: 26px;
	}
	.magic-behind-para p {
		font-size: 48px;
	}
	.plans-box-content h3 {
		font-size: 40px;
	}
	.timeline .grid {
		grid-gap: 25px;
	}
	.timeline-card-content h4 {
		font-size: 30px;
		margin: 0 0 20px;
	}
	.timeline-card-content p {
		font-size: 18px;
	}
	.client-story-card h3 {
		font-size: 32px;
	}
	.client-story-card a {
		font-size: 16px;
	}
	.client-story-card button {
		font-size: 16px;
	}
	.plan-card h4 {
		font-size: 32px;
	}
	.check-mark li {
		font-size: 20px;
	}
	.plan-card-footer p {
		font-size: 42px;
	}
	.plan-card-footer p sub {
		font-size: 20px;
	}
	.primary-btn {
		font-size: 16px;
		padding: 14px 34px;
	}
}
@media screen and (max-width:1280px){
	.timeline-card {
		width: 400px;
	}
	.client-story-card {
		padding: 34px;
	}
}
@media screen and (max-width:768px){
	.site-nav {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 300px;
	    background: #000;
	    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
	    transform: translateX(-100%);
	}

	.site-nav ul {
	    display: block;
	    padding: 30px 60px 0;
	}

	.menu-toggle{
		display: block;
	}

	.closed-menu {
	    font-size: 40px;
	    color: #fff;
	    position: absolute;
	    top: -5px;
	    right: 15px;
	    display: inline-block;
	}

	.toggle .site-nav {
    	transform: translateX(0);
	}
}

