/* font-faimly  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family:var(--helvetica);
}

:root {
   
    --black:#111111;
    --orange:#FF7A00;
    --yellow:#F7D902;
    --helvetica:'Helvetica';
    --roboto:"Roboto", sans-serif;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'SangBleu Sunrise';
}

p{
    color: var(--black);
    text-align: center;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    letter-spacing: -0.64px;
}
.container {
    width: 100%;
    max-width: 1672px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}

/*header start*/
.site-header {
    padding: 1rem 0;
    background: transparent;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.site-header .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;

}

.site-logo img {
    max-width: 10rem;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
}

.site-nav li a {
    color: #FFF;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: -0.54px;
    text-transform: capitalize;
    position: relative;
    /* padding: 10px 22px; */
}

.site-nav li a::after {
    content: "";
    position: absolute;
    transition: all 0.3s linear;
    background-image: url("../images/nav-shape.svg");
    background-repeat: no-repeat;
    background-position: center;
    inset: 0;
    opacity: 0;
}

.site-nav li a:hover::after{
	width: 100%;
	transition: all 0.3s linear;
}

.menu-toggle{
    display: none;
}

.menu-toggle .bar-1,.bar-2,.bar-3{
    width: 2.5rem;
    height: 2px;
    background-color: #333;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
}

.closed-menu{
    display: none;
}
/*header end*/ 
.section-title {
    color: var(--black);
    text-align: center;
    font-size: 84px;
    font-weight: 400;
    line-height: 120%;
}
span.highlight {
    color: var(--orange);
}
.sub-title {
    color:var(--black);
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: -0.64px;
}
/* site banner start  */

.site-banner-warp {
    position: relative;
    height: 1020px;
    border-radius: 0px 0px 52px 52px;
    overflow: hidden;
}
.site-banner-warp::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 35%);
}

.banner-curve-shape {
    position: absolute;
    left: 0;
    bottom: 0;
}
.banner-video {
    height: 100%;
}

.banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    z-index: 1;
}
.banner-content h1 {
    color: #FFF;
    text-align: center;
    font-size: 124px;
    font-weight: 400;
    line-height: 110%;
}
.banner-content > p {
    max-width: 738px;
    margin: 0 auto 44px;
    color: #fff;
}
.primary-btn {
    color: #FFF;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.36px;
    padding: 24px 44px;
    background: var(--orange);
    border-radius: 124px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    text-shadow: 0 50px black;
}

.primary-btn.bg-transparent {
    background: transparent;
    border: 1px solid var(--orange);
}
.primary-btn span {
    transition: all 0.2s linear;
}
.primary-btn:hover span {
    transform: translateY(-50px);
}
/* site banner end */
.calendar-sec {
    position: relative;
    margin-top: -280px;
}
.calendar-sec-content {
    position: relative;
    width: max-content;
    margin: 0 auto;
    border-radius: 40px;
    border: 24px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 164px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 120px;
}
.calendar-sec-content img {
    border-radius: 20px;
}
.stick {
    position: absolute;
    top: 20px;
    left: 8px;
    transition: all 0.4s linear;
}
.calendar-sec-content:hover .stick {
    transform: rotate(5deg) translate(10px, -15px);
}
.calendar-sec-content .stick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* plans start  */
.plans {
    background-image: url("../images/plans-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 124px;
}
.plans-warp {
    padding: 52px;
    border-radius: 24px;
    background: #FFF;
}
.plans-box-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 84px;
    align-items: center;
    margin-bottom: 32px;
}

.plans-box-content h3 {
    color: #111;
    font-size: 52px;
    font-weight: 400;
    line-height: 120%;
}
.plans-box-content p {
    color: #111;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.check-mark li {
    display: flex;
    align-items: center;
    color: #111;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: max-content;
}
.plan-card ul li:not(:last-child) {
    margin-bottom: 12px;
}
.check-mark li i {
    color: #12C177;
    margin-right: 12px;
}
.check-mark li img {
    margin-left: 6px;
}
.plans-box .grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.plan-card {
    border-radius: 2px 0px 0px 2px;
    border: 4px solid #EFEFEF;
}

.plan-card h4 {
    color: #111;
    font-size: 44px;
    font-weight: 400;
    line-height: 120%;
    margin: 0 0 24px;
}
.plan-card p {
    color: rgb(17 17 17 / 70%);
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.plan-card-body {
    padding: 64px;
}
.plan-card-body ul {
    margin: 36px 0 0;
}
.plan-card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    background: #F7F7F7;
}
.plan-card-footer p {
    color: #111;
    font-family: "SangBleu Sunrise";
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.plan-card-footer p sub {
    color:inherit;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.primary-btn.yellow-bg {
    font-size: 16px;
    padding: 12px 24px;
    color: var(--black);
    background: var(--yellow);
}
.appointment-engine {
    border-radius: 12px;
    background: #FEF5E5;
    padding: 32px;
}
.appointment-engine h6 {
    color: #111;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 12px;
}
.appointment-engine h6 i {
    color: #12C177;
    font-weight: 400;
}
.plan-card.preminum {
    border-color: var(--orange);
    margin-left: -4px;
}
.plan-card.preminum .plan-card-footer {
    background: var(--orange);
}
.plan-card.preminum .plan-card-footer p {
    color: #fff;
}
.plan-card.preminum .plan-card-body ul {
    margin: 36px 0;
}
.primary-btn.bg-white {
    background: #fff;
    color: var(--black);
}
/* training sec start  */
.training {
    padding: 245px 0;
    position: relative;
}
.training-shape {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: -1;
}
.training-wrap {
    border-radius: 2px;
    border: 4px solid #EFEFEF;
    background: #FFF;
}
.training_content {
    padding: 64px;
}
.training_content h4 {
    color: #111;
    font-size: 52px;
    font-weight: 400;
    line-height: 120%;
}
.training_content p {
    color: #111;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin: 32px 0;
}
.training-wrap .grid {
    grid-template-columns: 2fr 1fr;
}
.training_img {
    height: 100%;
    background: url("../images/choose-plan-bg.png") var(--orange);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.training_img p {
    color: #FFF;
    font-family: "SangBleu Sunrise";
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    margin: 12px 0 52px;
}
/* training sec end  */
/* how-it_works start */
.how-it_works {
    padding: 120px 0 224px;
    position: relative;
}
.how-work-shape {
    position: absolute;
    left: 0;
    top: 190px;
    bottom: 0;
    z-index: -1;
}
.how-it_works .section-title {
    text-align: left;
}
.how-it_works-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    grid-gap: 32px;
    margin-top: 64px;
}
.how-card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 6px 12px 0px rgba(17, 17, 17, 0.15);
    transition: all 0.3s ease-in-out;
}
.how-card:hover {
    background: var(--orange);
}
.how-card:hover h4, .how-card:hover p {
    color: #fff;
}
.how-card h4 {
    color:var(--black);
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    line-height: 150%;
    transition: all 0.3s ease-in-out;
}
.how-card p {
    color:var(--black);
    font-family: "SangBleu Sunrise";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    transition: all 0.3s ease-in-out;
}
/* how-it_works end */
/* client-story start  */
.client-story-wrap {
    border-radius: 24px;
    background: #F7F7F7;
    padding: 64px;
    margin-top: 64px;
}
.client-story-wrap .grid {
    grid-gap: 32px;
}
.client-story-card {
    background: #fff;
    padding: 64px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 52px;
    position: relative;
    isolation: isolate;
    cursor: pointer;
}
.client-story-card button {
    border-radius: 24px;
    background: #F7F7F7;
    border: 0;
    padding: 12px 24px;
    color:var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    cursor: pointer;
}
.client-story-card h3 {
    color:var(--black);
    font-size: 44px;
    font-weight: 400;
    line-height: 150%;
    transition: all 0.3s ease-in-out;
}
.client-story-card:hover h3 {
    color: #fff;
}
.client-story-card a {
    color:var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.36px;
    transition: all 0.3s ease-in-out;
}
.client-story-card:hover a{
  color: var(--orange);
}
.hover-img {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.client-story-card:hover .hover-img {
    opacity: 1;
    visibility: visible;
}
.hover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

/* client-story end  */
/* secret-sauce start  */
.secret-sauce {
    padding: 272px 0 80px;
}
.secret-sauce-wrap .grid {
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: 64px;
    align-items: center;
}
.secret-sauce-cont .section-title {
    text-align: left;
    margin-bottom: 72px;
}
.secret-sauce-img {
    position: relative;
}
.social-float-logos {
    position: absolute;
    inset: 0;
}
.social-float-logos img {
    position: absolute;
}
.secret-sauce-cont p {
    color: #111;
    font-size: 28px;
    font-weight: 300;
    line-height: 140%;
    text-align: left;
}
.secret-sauce-cont p:not(:last-of-type) {
    margin-bottom: 44px;
}
.secret-sauce-cont p > span {
    color: var(--orange);
}
.secret-sauce-wrap .grid .item:nth-child(1) {
    align-self: start;
}
.secret-sauce-wrap .grid .item:nth-child(3) {
    text-align: right;
}
.partner-highlight {
    border-radius: 12px;
    background: #D1262B;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}
.partner-highlight p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    max-width: 460px;
}
img#LinkedIn {
    top: -50px;
    left: 80px;
}
img#YouTube {
    right: -30px;
    top: -60px;
}
img#YouTube {
    right: -30px;
    top: -60px;
}
img#Instagram {
    right: -50px;
    bottom: 0;
}
img#Facebook {
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
}
img#Messenger {
    left: 70px;
    bottom: 20px;
}
img#Pinterest {
    right: -15px;
    bottom: 23%;
    transform: translateY(-50%);
}
/* secret-sauce end  */
/* testimonial start  */
.testimonial-card {
    text-align: center;
}
.testimonial-card-warp > .grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.testimonial-card .card_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto 24px;
}
.testimonial-card .card_img img{
    width: 100%;
    height:100%;
    border-radius: inherit;
    transition: all 0.2s linear;
}
.testimonial-card .card_img:hover img {
    transform: scale(1.1);
}
.testimonial-card .card_content h4 {
    color: #111;
    font-size: 44px;
    font-weight: 400;
    line-height: 150%;
}
.testimonial-card .card_content span {
    color: var(--orange);
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}
/* testimonial end  */

/* partner start  */
.partner {
    padding: 160px 0;
}
.partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}
/* site footer  */
.site-footer {
    background:#000;
    position: relative;
}
.footer-shape {
    margin-bottom: -120px;
}
.footer-logo {
    display: block;
    margin: 0 auto;
    width: max-content;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.site-footer .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}

.footer-social a {
    background: rgb(255 255 255 / 15%);
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}
.footer-middle {
    margin-top: 48px;
    margin-bottom: 70px;
}
.footer-middle .grid {
    grid-template-columns: repeat(4, 1fr);
}

.footer-middle .grid h4 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 24px;
    padding-left: 18px;
}
.footer-middle .grid h4::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid var(--orange);
    border-radius: 50%;
    left: 0;
    top: 6px;
}
.footer-middle .grid ul li:not(:last-child) {
    margin-bottom: 20px;
}
.footer-middle .grid ul li a {
    color: rgb(255 255 255 / 70%);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.f-contact h5 {
    color: #FFF;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-align: right;
}
.f-contact  p {
    color: rgb(255 255 255 / 70%);
    text-align: right;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
.timing h6 {
    color: rgb(255 255 255 / 70%);
    text-align: right;
    font-family:var(--roboto);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.56px;
}
.timing  span {
    color: rgb(255 255 255 / 70%);
    font-family:var(--roboto);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.address {
    margin: 24px 0;
    max-width: 200px;
    margin-left: auto;
}
.days {
    max-width: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    gap: 8px;
}
.line {
    width: 93px;
    height: 1px;
    background: rgb(255 255 255 / 70%);
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(255 255 255 / 20%);
    padding: 36px 0 56px;
}
.footer-bottom p {
    color: rgb(255 255 255 / 50%);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}


/* tooltip start  */
.tooltip-inner {
    background-color: #343a40; /* Dark background */
    color: #ffffff;            /* White text */
}

.tooltip-arrow {
    border-top-color: #343a40; /* Arrow color for top placement */
    border-bottom-color: #343a40; /* Arrow color for bottom placement */
    border-left-color: #343a40; /* Arrow color for left placement */
    border-right-color: #343a40; /* Arrow color for right placement */
    border:10px solid ;
}
.tooltip-inner {
    padding: 10px 15px;    /* Increase padding */
    font-size: 16px;       /* Increase font size */
}
